body {margin: 50; padding: 0;}
div.room {width: 100%; height: 100%; background: silver; border: solid black 10px; margin:-10;}

/*div.room {position: relative; margin: 100 auto 0 auto; background: gray; border: solid black 1px; width: 500; height: 500;}
div.object {position: absolute; top: 0; left: 0; width: 10; height: 10; background: red;}*/
